# Compiled files
kaiju_program/bin
*.hex
*.elf
*.o
*.d

# IDE cruft
kaiju_program/.kdev4/
kaiju_program/kaiju_program.kdev4

# File explorer caches and other nonsense
.directory
*.swp
*.kate-swp
Thumbs.db
